@model Multas.Models.Agentes

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Angente <i>@Model.Nome</i></h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Esquadra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Esquadra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>
        <dt>
            @*Indicação da imagem do(a) Agente*@
            <img src="^/imagens/@Html.DisplayFor(model => model.Fotografia)"
                 alt="imagem do agente @Html.DisplayFor(model => model.Nome)"
                 title="@Html.DisplayFor(model => model.Nome)"
                 width="150" />
        </dt>
    </dl>

    @*##############################################################################*@
    @* apresentação das multas do Agente listado na parte de cima da View *@

    <hr />
    <h3>Listagem das multas associadas ao(à) Agente </h3>
    <table class="table">
        @* Cabeçalho *@
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().DataDaMulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().LocalDaMulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().Condutor.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().Viatura.Matricula)
            </th>
        </tr>

        @* Dados das Multas *@

        @foreach (var multa in Model.ListaDeMultas)
        {
            <tr>
                <td>
                    @multa.DataDaMulta
                </td>
                <td>
                    @multa.LocalDaMulta
                </td>
                <td>
                    @*multa.Condutor.Nome*@
                    @Html.ActionLink(multa.Condutor.Nome, "Details", "Condutores", new { id = multa.Condutor.ID }, null)
                </td>
                <td>
                    @multa.Viatura.Matricula
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regressar to Listá lista", "Index")
</p>
